{% extends "base.html" %}
{% block title %} Results {% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>



<style>
    body {
        background-color: #1f272b;
        font-family: 'Nunito'
    }
    h1   {
        color: #4766f9;
        font-size: 50px;
        position: relative; 
        text-align: center;
        top: 60px;
    }
    h2{
        color: rgb(194, 103, 103);;
    }

    p {
        font-size: 20px;
        
        color: rgb(194, 103, 103);
    }

    .jumbotron{
        font-family: 'Nunito';
        background-color: #2c363b;;
        border-radius: 50px;
        margin: auto;
        margin-top: 100px;
        width: 90%;
        padding: 100px;
        text-align: center; 
    }

    button{
        background-color: #5b73ee;   
        width: 30%;  
        color: #ffffff;
        padding: 10px;
        margin: 5px;
        border: none;   
        cursor: pointer;
        border-radius: 13px;
        
    } 

    p {
        color: #ffffff;
        size: 17px;
    }
    .container2{
        font-family: 'Nunito';
        background-color: #2c363b;;
        border-radius: 50px;
        margin: auto;
        margin-top: 100px;
        width: 90%;
        padding: 100px;
        text-align: center;

    }
</style>


<div class="jumbotron" style = "padding-bottom: 10px;">
    <h2 class="font-weight-bold" style="font-size: 45px; position: relative; bottom: 40px;" text-align="center" >Your Books Have been Added!</h2>
    <button onclick="window.location.href='/'" type="login">Go Home!</button>

</div>


{% endblock %}